/* Estilo para el fondo de la página */
.container {
  background-image: url('{% static 'tasks/imagenes/home_img.png' %}');
  background-size: cover;
  background-position: center;
  padding: 20px; /* Añade un espacio alrededor del contenido */
}

/* Estilo para el título h1 */
.container h1 {
  text-align: center; /* Centra el texto */
  font-weight: bold; /* Hace que el texto esté en negrita */
  margin: 20px 0; /* Añade un margen superior e inferior de 20px */
}

/* Estilo para los subtítulos h2 */
.container h2 {
  margin: 20px 0; /* Añade un margen superior e inferior de 20px */
}

/* Estilo para los párrafos */
.container p {
  margin-bottom: 20px; /* Añade un margen inferior de 20px */
}
