{% extends 'base.html' %} {# Extiende la plantilla base.html #}
{% block content %} {# Define un bloque llamado "content" que puede ser sobrescrito en plantillas que extiendan esta #}
<div class="container">
  <h1>INICIO</h1>  {# Encabezado 1 que dice "INICIO" #}
  <p>
    La Municipalidad Distrital de San Jerónimo ha establecido un sistema de asistencia para practicantes con el objetivo primordial de fortalecer la transparencia, eficiencia y control en el desarrollo de las prácticas profesionales en nuestra institución. Este sistema se crea en respuesta a la necesidad de garantizar un seguimiento preciso de la asistencia y el desempeño de los practicantes, asegurando así un ambiente de trabajo óptimo y una experiencia formativa integral para los estudiantes. Además, busca fomentar una cultura organizacional basada en la responsabilidad y el compromiso, promoviendo valores que contribuyan al crecimiento personal y profesional de los practicantes, así como al cumplimiento de los objetivos institucionales en beneficio de la comunidad de San Jerónimo</p>
</div>
{% endblock %} {# Termina el bloque "content" #}


