{% extends 'base.html' %}

{% block content %}
<div class="container" style="background-image: url('/tasks/imagenes/home_img.png'); background-size: cover; background-position: center;">
  <h1 style="text-align: center;">Oficina de Tecnologías de la Información</h1>
  <h2 style="margin: 10px; color: blue;">Misión</h2>
  <p>
    Gestionar de manera eficiente y eficaz los recursos tecnológicos de la Municipalidad Distrital de San Jerónimo, a fin de apoyar el cumplimiento de sus objetivos estratégicos y brindar un servicio de calidad a las diferentes oficinas pertenecientes a la Municipalidad.
  </p>
  <h2 style="margin-top: 30px; color: blue;">Visión</h2>
  <p>
    Ser una oficina líder en la gestión de tecnologías de la información, reconocida por su eficiencia e innovación, y que contribuya al desarrollo sostenible de la Municipalidad de San Jerónimo.
  </p>
</div>
{% endblock %}

<div class="container" style="background-image: url('Proyecto_Asistencia_SAP/tasks/imagenes/home_img.png'); background-size: cover; background-position: center;">



{#{% load static %}#}
{#{% block extrastyles %} {# Nuevo bloque para cargar CSS adicional #}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'estilo_home.css' %}">#}
{#{% endblock %}#}
