{% extends 'base.html' %} {# Extiende la plantilla base.html #}

{% block content %} {# Define un bloque llamado "content" que puede ser sobrescrito en plantillas que extiendan esta #}
<div class="container">
  <h1>Oficina de Tecnologías de la Información</h1>
  <h2>Misión</h2>
  <p>
    Gestionar de manera eficiente y eficaz los recursos tecnológicos de la Municipalidad Distrital de San Jerónimo, a fin de apoyar el cumplimiento de sus objetivos estratégicos y brindar un servicio de calidad a las diferentes oficinas pertenecientes a la Municipalidad.
  </p>
  <h2>Visión</h2>
  <p>
    Ser una oficina líder en la gestión de tecnologías de la información, reconocida por su eficiencia e innovación, y que contribuya al desarrollo sostenible de la Municipalidad de San Jerónimo.
  </p>
</div>
{% endblock %} {# Termina el bloque "content" #}
{% load static %}
{% block extrastyles %} {# Nuevo bloque para cargar CSS adicional #}
<link rel="stylesheet" type="text/css" href="{% static 'estilo_home.css' %}">
{% endblock %}
